# Ignore virtual environments
venv/
.venv/

# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and environment variables
*.log
.env

app/__pycache__
news_app/__pycache__


# Celery
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule.db

env/.redis
env/.db
env/.search