# Ignore virtual environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore logs and environment variables
*.log
.env


# Celery
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir